body {
    height: 100%;
	margin: 0;
	background: #2222ff;
}

div{
    height: 60%;
    display: flex;
	align-items: center;
    justify-content: center;
}
button{
	font-family: cursive;
	letter-spacing: 0.5mm;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
    color: #fafafa;
    background-color: #2222ff;
    cursor: pointer;
    max-width: 650px; 
    width: 50%; 
    outline: 3px solid;
    outline-color: rgb(250, 250, 250);
    outline-offset: 0px;
    transition: all 3s ;
}

button:hover {
    color: rgb(226, 230, 238);
    background-color: #8ae7d8;
    outline-color: rgb(243, 245, 250);
    outline-offset: 100px;
}

