#um{
    width: 200px;
    height: 40px;
    background-color: #000000;
    border: none;
    float: left;
    margin-bottom: 15px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}
#dois{
    width: 300px;
    height: 40px;
    background-color: #000000;
    border: none;
    float: right;
    margin-bottom: 15px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}
#três{
    height: 250px;
    border: none;
    clear: both;
    margin-bottom: 15px;
}
#quatro{
    width: 400px;
    height: 250px;
    float: right;
    margin-bottom:15px;
    background-color: rgb(255, 23, 166);
}
#cinco{
    width: 400px;
    height: 250px;
    background-color: rgba(23, 68, 214, 0.87);
    border: none;
    margin-bottom:15px;
    margin-right: 1.8cm;
    float: right;
}
#seis{
    width: 400px;
    height: 250px;
    background-color: rgba(17, 75, 12, 0.712);
    border: none;
    margin-bottom:15px;
}
#sete{
    height: 40px;
}
#imagem1{
    width: 400px;
    height: 250px;
    animation: img 5s 1s infinite;
}
#imagem2{
    width: 400px;
    height: 250px;
    animation: img 5s 1s infinite;
}
#imagem3{
    width: 400px;
    height: 250px;
    animation: img 5s 1s infinite;
}
@keyframes img{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0,3;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: 1;
    }
}