@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
    h1{
        margin-left: 100px;
    }
    div {
        width: 500px;
        font-size: 24px;
        line-height: 100px;
        margin-left: 50px;
    }
    a:hover{
        color: #ff0000;
    }
    a[href="aqui"] {
        color: #d44dc2;
        font-family: 'Syne Tactile', cursive;
        border: 4mm ridge rgb(0, 0, 0);
        background-color: rgba(228, 228, 228, 0.548);
    }
    a[href~="melhor"] {
        color: #cc2e56cc;
        font-family: 'Henny Penny', cursive;
        border: 4mm ridge rgb(0, 0, 0);
        background-color: rgba(228, 228, 228, 0.548);
      }
    a[href^="nunca"] {
        color: #cc58a9;
        font-family: 'Dancing Script', cursive;
        border: 4mm ridge rgb(0, 0, 0);
        background-color: rgba(228, 228, 228, 0.548);
    }
    a[href$="apertar"]{
    color: #ce3a53;
    font-family: 'Grenze Gotisch', cursive;
    border: 4mm ridge rgb(0, 0, 0);
    background-color: rgba(228, 228, 228, 0.548);
    }
    a[href*=ate]{
        color:#ff073d;
        font-family: 'Syne Tactile', cursive;
        border: 4mm ridge rgb(0, 0, 0);
        background-color: rgba(228, 228, 228, 0.548);
    }
    a:hover{
        color: #ff0000;
    }
    


