body{
    background-color:pink;
    height: 90%;
    display: flex;
	align-items: center;
    justify-content: center;
}
button{
    font-family: arial;
    font-weight: bold;
    color: white;
    font-size: 40px;
    background-color: rgb(209, 47, 147);
    cursor: pointer;
    max-width: 700px;  
}
button:hover {
    animation-name: botao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;  
}
@keyframes botao{
    0%{
        background-color: rgb(134, 8, 107); 
    }
    50%{
        border: 5px solid rgb(165, 9, 179);
    }
    100%{
        background-color: rgb(230, 25, 69);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,5);
        border: 5px solid rgb(208, 45, 223);
        }
    }
p{
    text-align: center;
    opacity: 0;
    line-height: 200px;
}
button:hover ~ p{
    animation-name: paragrafo;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes paragrafo{
    0%{
        opacity: 0,3;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: 1;
    }

}


